* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Windsurf primary";
  src: url("https://windsurf.com/_next/static/media/3ecc75a922018515-s.p.woff2");
}

@font-face {
  font-family: "Windsurf secondary";
  src: url("https://windsurf.com/_next/static/media/13971731025ec697-s.p.woff2");
}

a {
  color: white;
  text-decoration: none;
}

::selection {
  background-color: var(--secondary-color);
  color: black;
}

:root {
  --primary-color: #011c42;
  --secondary-color: #34e8bb;
  --font-primary: "Windsurf primary";
  --font-secondary: "Windsurf secondary";
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  height: 12vh;
  align-items: center;
  padding-left: 6vw;
  font-family: var(--font-secondary);

  text-transform: uppercase;
}

header a {
  font-size: 12px;
  font-weight: bold;
}

nav div {
  height: 12vh;
  display: flex;
  align-items: center;
}

nav div:hover a {
  background-color: #ffffff33;
}

nav a {
  padding: 8px;
  border-radius: 8px;
}

nav a i {
  transition: rotate 0.15s ease-in-out;
}

nav a:hover i {
  rotate: 180deg;
}

.windsurf-logo {
  width: 160px;
}

.mobile-windsurf-logo {
  display: none;
}

nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-last {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-profile {
  border-radius: 50%;
  padding: 2px;
  transition: border 0.2s ease-in-out;
  border: 2px solid transparent;
}

.user-profile:hover {
  border: 2px solid var(--secondary-color);
}

.user-profile i {
  border: 1px solid white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile:hover {
  /* outline: 2px solid #34e8bb; */
}

.download-btn {
  background-color: var(--secondary-color);
  color: black;
  height: 12vh;
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-link-1 {
  position: relative;
}

.nav-link-1:hover .box-1 {
  display: block;
}

.box-1 {
  background-color: aquamarine;
  height: 300px;
  width: 200px;
  position: absolute;
  top: 12vh;
  left: -4px;
  display: none;
}

/* main section start */

main {
  height: 88vh;
  background-color: var(--primary-color);
  color: white;
  padding: 6vw;
}

main h1 {
  color: white;
  font-family: var(--font-primary);
  font-size: 64px;
  font-weight: 500;
}

.main-options {
  display: flex;
  gap: 12px;
  margin: 8vh 0;
}

.main-options button,
.main-options a {
  padding: 16px 32px;
  border-radius: 2px;
  font-family: var(--font-secondary);
}

.main-options button {
  background-color: var(--secondary-color);
  border: none;
}

.main-options a {
  background-color: #ffffff33;
}

.main-subtext {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--font-secondary);
}

.main-subtext div {
  height: 8px;
  width: 8px;
  background-color: var(--secondary-color);
}

/* marquee section start */

.marquee-section {
  background-color: var(--primary-color);
  overflow: hidden;
}

.marquee {
  display: flex;
  align-items: center;
  height: 30vh;
  gap: 40px;
  animation: marquee-animation 14s linear infinite;
}

@keyframes marquee-animation {
  from {
    translate: 0%;
  }
  to {
    translate: -100%;
  }
}

.marquee img {
  width: 80px;
}

.mobile-options {
  display: none;
}

/* header responsive code */

@media (width <= 1200px) {
  .windsurf-logo {
    display: none;
  }

  .mobile-windsurf-logo {
    display: block;
    width: 40px;
  }
}

@media (width <= 1024px) {
  header {
    height: 8vh;
  }
  nav {
    display: none;
  }

  .header-last {
    display: none;
  }

  .mobile-options {
    display: block;
    background-color: var(--secondary-color);
    height: 100%;
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}