* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Windsurf primary";
  src: url("https://windsurf.com/_next/static/media/3ecc75a922018515-s.p.woff2");
}

@font-face {
  font-family: "Windsurf secondary";
  src: url("https://windsurf.com/_next/static/media/13971731025ec697-s.p.woff2");
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #011c42;
  height: 12vh;
  align-items: center;
  padding-left: 6vw;
  font-family: "Windsurf secondary";

  text-transform: uppercase;
}

header a {
  font-size: 12px;
  font-weight: bold;
}

nav a {
  padding: 8px;
  border-radius: 8px;
}

nav a:hover {
  background-color: #ffffff33;
}

nav a i {
  transition: rotate 0.15s ease-in-out;
}

nav a:hover i {
  rotate: 180deg;
}

.windsurf-logo {
  width: 160px;
}

nav {
  display: flex;
  gap: 40px;
}

.header-last {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-profile {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
}

.download-btn {
  background-color: #34e8bb;
  color: black;
  height: 12vh;
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-link-1 {
  position: relative;
}
.nav-link-2 {
  position: relative;
}
.nav-link-3 {
  position: relative;
}
.nav-link-4 {
  position: relative;
}

.nav-link-1:hover .box-1 {
  display: block;
}
.nav-link-2:hover .box-2 {
  display: block;
}
.nav-link-3:hover .box-3 {
  display: block;
}
.nav-link-4:hover .box-4 {
  display: block;
}

.box-1 {
  position: absolute;
  top: 10vh;
  left: -4px;
  display: none;
}
.box-2 {
  background:white;
  padding:8px;
  border-radius:8px;
  border: #111;
  border: 0.5px solid rgb(51, 50, 50);
  font-family: Arial, sans-serif;
  width: 300px;
  position: absolute;
  top: 10vh;
  left: -4px;
  display: none;
}
.box-3 {
  background:white;

  border-radius:8px;
  border: #111;
  border: 0.5px solid rgb(51, 50, 50);
  font-family: Arial, sans-serif;
  position: absolute;
  top: 10vh;
  left: -4px;
  display: none;
}
.box-4 {
  background:white;
  padding:8px;
  border-radius:8px;
  border: #111;
  border: 0.5px solid rgb(51, 50, 50);
  font-family: Arial, sans-serif;
  position: absolute;
  top: 10vh;
  left: -4px;
  display: none;
}
.box-1{
  width: 400px;
  background:white;
  padding:8px;
  border-radius:8px;
  border: #111;
  border: 0.5px solid rgb(51, 50, 50);
  font-family: Arial, sans-serif;
}

.feature-container{
  display:flex;
  border: 0.5px solid rgb(100, 96, 96);
}
.feature-container-1{
  border: 0.5px solid rgb(100, 96, 96);
  padding: 20px;
}
.feature-container-2{
  border: 0.5px solid rgb(100, 96, 96);
  padding: 20px;
}
.column{
  flex:1;
  padding:10px 20px;
}

.border-left{
  border-left:1px solid #bfb7ac;
}

.heading{
  font-size:12px;
  letter-spacing:1px;
  color:#727272;
  margin-bottom:20px;
  font-weight:bold;
}

.item{
  margin-bottom:22px;
}

.item h3{
  margin:0;
  color:#111;
}

.item p{
  margin:4px 0 0 0;
  color:#7d7d7d;
}
.feature-container-2 p{
  color:#7d7d7d;
  font-family: Arial, Helvetica, sans-serif;
}